name: Despliegue Blue-Green a AWS

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write 
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4

      - name: Login a GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Construir y Etiquetar la Imagen Docker
        id: build-image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}
          VERSION_TAG=${{ github.sha }}
          
          docker build ./app -t $IMAGE_ID:$VERSION_TAG

          echo "IMAGE_ID=$IMAGE_ID" >> $GITHUB_ENV
          echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_ENV

      - name: Push a GHCR
        run: docker push ${{ env.IMAGE_ID }}:${{ env.VERSION_TAG }}

  deploy: # <-- Asegúrate de que esta línea esté alineada con 'build-and-push'
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4
        
      # Copia los archivos de switch de Nginx y Script al VPS
      - name: Copiar Archivos de Configuración al VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "nginx_configs/*.conf"
          target: "/etc/nginx/app/nginx"
          source: "deploy_blue_green.sh"
          target: "/home/${{ secrets.SSH_USER }}/app/"
          
      # Ejecutar el script Blue-Green (INCLUYE EL DOCKER LOGIN CORREGIDO)
      - name: Ejecutar Despliegue Blue-Green
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. INICIO DE SESIÓN EN GHCR EN EL SERVIDOR EC2
            echo "Iniciando sesión en GHCR en el servidor..."
            # Autenticación para Docker Pull
            echo "${{ secrets.CR_TOKEN }}" | docker login ghcr.io \
              --username ${{ secrets.CR_USERNAME }} \
              --password-stdin
            
            # 2. EJECUCIÓN DEL SCRIPT
            export GITHUB_REPOSITORY=${{ github.repository }}
            /home/${{ secrets.SSH_USER }}/app/deploy_blue_green.sh ${{ env.VERSION_TAG }}
            
            # 3. Limpiar el login
            docker logout ghcr.io